.heading {
  background-color: #fdffcd;
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 8px;
  text-align: center;
}

.profile {
  width: 10%;
  border-radius: 50%;
}

.resume {
  background-color: #e0ffcd;
  opacity: .80;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
  text-align: center;
}

.entry{
  font-size: 10px;
  text-align: left;
}

.entry h1 {
  margin-bottom: 0px;
}

.entry ul {
  font-weight: 1;
  font-size: 15px;
  border-radius: 8px;
  padding-left: 25px;
  margin-left: 10px;
  margin-top: 2px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.projects {
  text-align: center;
  background-color: #ffebbb;
  border-radius: 8px;
  opacity: .80;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}

.grid-item {
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-align: center;
}

* {
  font-family: 'Open Sans', sans-serif;
}